.card{
    text-align: center;
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/ocean.jpg");
    height: 100vh;
    weight: 100vw;
    background-size: cover;
}
.main-heading{
    color: rgb(96, 96, 144);
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}
.paragraph{
    color: gray;
}