.card{
    text-align: center;
    background-color: rgb(112, 204, 234);
}
.main-heading{
    color: rgb(96, 96, 144);
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}
.paragraph{
    color: gray;
}